html, body{
    height:100%
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
textarea {
   resize: none;
}
.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}
.footer{
    margin-top: -60px;
}
body > .container{
    height:100%;
}
.content-wrap{
    min-height: 100%;
    margin-top: -82px;
    padding-top: 82px;
    padding-bottom: 60px;
}

.sess{
    list-style:none;
    margin:0;
}
.sess >li{
    list-style-type:none;
    position: relative;
    display: block;
    float:left;
}
.sess > li > a {
    padding: 15px 5px 15px 5px;
    line-height: 20px;
    display:block;
}

.itr{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.imr{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.ibr{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.el{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.er{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.hlist{
    box-shadow: 0 1px 0 rgba(255,255,255,.3), 0 6px 0 #1B3359, 0 7px 0 #666;
    margin-bottom: 5px;
}
.hobby-short{
    margin-bottom: 20px;
}

.lrg-form{
    font-size: 18px;
}
.lrg-form > div{
    margin-bottom: 3px;
}
.lrg-form > div > input{
    line-height: 20px;
    font-size: 18px;
    height:42px;
}
.lrg-form > button{
    font-size: 18px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    overflow:auto;
}
.navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.welcome{
    font-size: 53px !important;
    margin: 20px 0;
}

.header h4 {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    width:220px;
    float:left;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.ahobby{
    overflow: auto;
    padding: 4px 0;
}
.ahobby:hover{
    background-color: #EFEFEF;
    cursor: pointer;
}
.ahobby:active{
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1),
    inset 0 -1px 0 rgba(0,0,0,.1);
}
.hc{
    padding: 20px 2px 0 2px;
}
.mw-image{
    max-width:100%;
}
.no-lp{
    padding-left:0;
}
.no-rp{
    padding-right:0;
}
.nop{
    padding: 0;
}

.user-title{
    background-color: #EFEFEF;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 rgba(0,0,0,.1);
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 20px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
