{% extends 'base.html' %}
{% block container %}

    {% if current_user.is_authenticated() %}
    <div class="row">
        <div class="col-md-2">
            <a href="{{ url_for('addhobby') }}" class="btn btn-success pull-right" style="margin-bottom:20px">Add Hobby</a>
        </div>
    </div>
    {% endif %}

    <!-- Do  -->
    <div class="row">
    {% for hobby in hobbyList %}
    <div class="hobby-short col-md-4" id="{{ hobby.id }}">
        <div class="col-md-12 nop hlist" style="height:160px; overflow:hidden">
            <img src="{{ hobby.imageurl }}"  style="width:100%;"/>
        </div>

        <a href="{{ url_for('hobby', hid=hobby.id) }}" class="btn btn-default col-md-8 el" title="{{ hobby.name }}" style="overflow:hidden">{{ hobby.name }}</a>

        {% if current_user.is_authenticated() %}
            <a href="{{ url_for('followhobby', hid=hobby.id) }}" class="btn btn-primary col-md-4 er">iliekdis</a>
        {% endif %}
    </div>
    {% endfor %}
    </div>

<script type="text/javascript">
    document.getElementById("brnav").classList.add("active");
</script>
{% endblock %}